# Secrets
keys.env
.env

# Node stuff (future-proofing)
node_modules/
dist/

# Logs
*.log
logs/

# OS junk
.DS_Store

# Build output
dist/
*.js.map
*.tsbuildinfo

# Accidental root JS files
/types.js

# Security 
src/strategy/private-strategy.ts
